__pycache__/
*.pyc
.DS_Store
.env
*.log
home-assistant.log*
secrets.yaml
.storage/
*.zip
dist/
build/
build_out/
build_scripts/
*.o
*.d
*.a
*.elf
*.bin
*.map
*.i
*.ii
*.s
*.bak
*.tmp
*.temp
.cproject
.project
.settings/
old_version/
backup/
backups/
tmp/
temp/
